/*Exo 6 */
body{
  background-color: #2f3640;
}

#chronos_header{
  text-align: center;
  color:white;
  margin-bottom: 20px;
}

#chronos_header h1{
  font-size: 35px;
}

#chronos_header input{
  font-size: 30px;
}

#chronos{
  display: flex;
  flex-wrap: wrap;
  margin-left: 4.4%;
}

fieldset{
  text-align: center;
  width: 14%;
  background-color: #dcdde1;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 10px;
  border: 3px solid red;
  flex: 1 0 min-content;
  position: relative;
}

fieldset legend{
  background-color: yellow;
  border: 3px solid red;
  font-size: 30px;
}

.btns{
  margin: 10px;
}

.btn{
  margin-right: 5px;
  font-size: 25px;
}


.chronoDeleteButton{
  background-color: yellow;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -10px;
  top:0px;
  padding:0;
  margin: 0;
  text-align: center;
  outline: none;
}

span{
  font-size: 30px;
}
.hide{
  display: none;
}

.enCours{
  color: green;
}

.enPause{
  color: blue;
}

.arrete{
  color: black;
}
